::before,
::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --primary-dark: #450a0a;
  --primary-light: #fef2f2;

  --secondary-1: #b91c1c;
}

/* GENERAL TAGS */
body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: sans-serif;
  background-color: var(--primary-light);
  color: var(--primary-dark);
}
footer {
  margin: 100px 0 50px;
  line-height: 30px;
  text-align: center;
}
nav {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin: 20px 0 50px;
}
nav a {
  font-size: 1.15rem;
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
}
nav a:hover {
  color: var(--secondary-1);
  border-bottom: 3px solid var(--secondary-1);
}
h1 {
  margin-bottom: 20px;
  font-size: 2.25rem;
}
h2 {
  margin-bottom: 15px;
  font-size: 1.25rem;
}
svg {
  width: 20px;
}
li {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}
a {
  color: var(--primary-dark);
  text-decoration: none;
}

/* HERO BANNER */
.hero h1 {
  width: min-content;
  font-size: 4rem;
  background: -webkit-linear-gradient(0deg, #ef4444, #7f1d1d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero h2 {
  font-size: 3rem;
}
.hero h3 {
  max-width: 75%;
  margin-bottom: 15px;
  line-height: 30px;
}
.hero .contact {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}
.hero .contact a {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  padding: 8px 10px;
  border-radius: 20px;
  background-color: #b91c1c;
  text-decoration: none;
  color: var(--primary-light);
}
.hero .contact a:hover {
  background-color: #7f1d1d;
}
.hero .contact a:hover .linkedin {
  fill: #7f1d1d;
}
/* SKILLS SECTION */
#skills {
  margin: 100px;
  padding-top: 20px;
  text-align: center;
}
.skills_container {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

/* WORKS SECTION */
#works h1 {
  text-align: center;
}
.works_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px 50px;
}
.work_card {
  max-width: 30%;
  max-height: 150px;
  padding: 20px;
  border-radius: 10px;
  background-color: #ef4444;
  color: var(--primary-light);
}
.work_card a {
  display: inline-block;
}
.work_card h2 {
  margin-bottom: 10px;
  text-align: left;
}
.work_card p {
  margin-bottom: 10px;
  line-height: 20px;
}
.work_card span {
  margin-right: 5px;
  padding: 3px 5px;
  font-size: 0.9rem;
  background-color: var(--primary-light);
  border-radius: 5px;
}

/* WORK PAGE */
.technologies span {
  margin-right: 5px;
  padding: 3px 5px;
  font-size: 0.9rem;
  background-color: var(--primary-dark);
  border-radius: 5px;
  color: var(--primary-light);
}
.missions,
.problems,
.solutions {
  margin-top: 30px;
}
.missions li,
.problems li,
.solutions li {
  display: list-item;
  list-style-position: inside;
  list-style-type: disc;
}
